.downloadBtn {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;
  opacity: 0;
  width: 40px;
  height: 40px;
  padding: 0 8px;
  line-height: 26px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: opacity .1s ease-out;
  transition-delay: .1s;
  border-radius: 3px;
  border: 1px solid #e7e1e4;
  /*background-color: #ee5894;*/
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("https://images.sftcdn.net/images/t_optimized,f_auto/p/a7fff2cc-622a-11e7-826e-78d717936f6e/3830757191/instasave-download-instagram-video-save-photos-logo.png");
}

.downloadBtn.inStories {
  width: 28px;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  font-size: 12px;
  background-size: 18px;
}

/*
  .KL4Bh: IMG parent
  .OAXCp: VIDEO parent
  .qbCDp Stories parent
 */
.KL4Bh:hover .downloadBtn,
.OAXCp:hover .downloadBtn,
.qbCDp:hover .downloadBtn {
  opacity: 1;
}

.KL4Bh:active .downloadBtn,
.OAXCp:active .downloadBtn {
  opacity: .9;
}

/* pic cover */
._si7dy,
._9AhH0 {
  display: none !important;
}

/* Top Bar ._lz6s zIndex > .downloadBtn zIndex */
._lz6s {
  z-index: 3 !important;
}